/* menu ------------------------------------  */ 


nav {
  text-align:center;
  width: 100%;
  background: #fafafa;
  padding: 0;
  margin: 0;
  height: 60px;
  position:relative;
}

nav ul {
  background: #fafafa;
  list-style:none;
  padding:0 20px;
  margin: 0;
  height: 60px;

}


nav ul li {
  display: inline-block;
}


nav ul li a {
  color: black;
  display:block;
  padding:0px 40px;
  text-decoration:none;
  float: left;
  height: 60px;
   line-height: 60px;
}

nav ul li:hover {
  background: #333333;
}


nav ul li:hover > a{
    color:#FFFFFF;
}

nav ul li:hover > ul {
  display:block;
}

nav ul ul {
  background: #fafafa;
  padding:0;
  text-align: center;
  display:none;
    width: 100%;
  position: absolute;
  top: 60px;
  left: 0px;
}



/* logo  -------------------------------------- */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    width: 381px;
    height: 131px;
    border:0;
}


/* hero image  -------------------------------------- */

body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image 
  (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("test1.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



/* Featured posts -------------------------- */

.titulo {text-align: center;}

.texto {text-align: center;	font: 14px sans-serif;}

.featured {text-align: center;}

.featured img {
    display: inline-block;
    width: 334px;
    height: 334px;
}

.featured:after {
    content: '';
    display: inline-block;
    width: 35%;
}

/* Button */
.button {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
   margin:auto;
  display:block;
}

/* Button */
.button-leftside {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
   margin:left;
  display:block;
}

/* Body Content ------------------------ */

/* Home  */
body {
  font-family: Arial;
  padding: 20px;

}

.image {style="height:400px;"}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: #fafafa;
}


/* Left column */
.leftcolumn { 
  float: left;
  width: 73.5%;
}

/* Left column */
.leftcolumn-terms { 
  float: left;
  width: 100%;
}


/* Left column */
.blogleftcolumn { 
  float: left;
  width: 100%;
}


/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}


/* Add a card effect for articles */
.blog {
  background-color: #fafafa;
  padding: 20px;
  margin-top: 20px;
}


/* Add a card effect for articles */
.card {
  background-color: #fafafa;
  padding: 20px;
  margin-top: 20px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Contact Form  --------------------------------  */

.contact-container {
  width: 100px;
  clear: both;
}

.contact-container input {
  width: 100%;
  clear: both;
} 


label {
  display: block;
  width: 100px;
  text-align: left;
}​

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    text-align: left;
    width: 80%; /* Full width */
    padding: 15px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    height:70px
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 6px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    float: left
    background-color: black;
    color: white;
    padding: 12px 20px;
    width: 100px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: black;
}

/* Add a background color and some padding around the form */
.contact-container {
 display: block;
  width: 100px;
  text-align: left;
    border-radius: 0px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 10px;
}


/* Footer  --------------------------------  */

.referencias{color: #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;}

.footer-distributed{
	background-color: black;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px;
	margin-top: 10px;
	overflow: hidden;
}

/* Footer left */

.footer-distributed .footer-left{
	float: left;
}

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


/* Footer right */

.footer-distributed .footer-right{
	float: right;
}

/* The search form */

.footer-distributed form{
	position: relative;
}

.footer-distributed form input{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color: #fbfbfb;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color: black;

	width: 500px;
	padding: 18px 50px 18px 18px;
}

.footer-distributed form input:focus{
	outline: none;
}

/* Changing the placeholder color */

.footer-distributed form input::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed form input::-moz-placeholder {
	opacity: 1;
	color:  #5c666b;
}

.footer-distributed form input:-ms-input-placeholder{
	color:  #5c666b;
}

/* The magnify glass icon */

.footer-distributed form i{
	width: 18px;
	height: 18px;
	position: absolute;
	top: 16px;
	right: 18px;

	color: white;
	font-size: 18px;
}